<div class="rounded d-flex mb-2 achievement-status" [class.trinket]="!!achievement.trinket" [class.item]="!!achievement.item" >
    <span  class="isaac-body text-light">
        <img [ngbTooltip]="!achievement.completed ? achievement.unlock : undefined" [class.locked]="!achievement.completed" [src]="achievement.imageSrc" height="32" width="32">
         {{achievement.id}} - {{achievement.name}}
    </span>
    <img [ngbTooltip]="'Quality: ' + achievement.item.quality + '. ' + achievement.item.description" *ngIf="achievement.item" [src]="achievement.item.imageSrc" height="32" width="32" class="ms-auto">
    <img [ngbTooltip]="achievement.trinket.description" *ngIf="achievement.trinket" [src]="achievement.trinket.imageSrc" height="32" width="32" class="ms-auto">
</div>