.locked {
    opacity: 0.1;
}
.achievement-status:hover {
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
    & img {
        opacity: 1!important;
    }
}
.item {
    background-color: #000045;

}

.trinket {
    background-color: #450000;
}